node_modules
/vendor/
.DS_Store
.composer
composer.phar
.env
composer.lock
/.doctum/cache/
.phpunit.result.cache
/build/junit.xml
/build/cache/*
/build/coverage/
/assets/
/resources/
/public/assets/
/public/resources/
