parameters:
	tmpDir: ./build/cache/phpstan
	level: max
	paths:
		- ./src
		- ./tests
	excludePaths:
		- ./vendor
	ignoreErrors:
		- '#^Short ternary operator is not allowed\. Use null coalesce operator if applicable or consider using long ternary\.$#'
		- '#^Call to static method PHPUnit\\Framework\\Assert\:\:assertInstanceOf\(\) with ''CSoellinger\\\\SilverStripe\\\\ModelAnnotations\\\\Handler\\\\DataClassFileHandler'' and CSoellinger\\SilverStripe\\ModelAnnotations\\Handler\\DataClassFileHandler will always evaluate to true\.$#'
		- '#^Call to static method PHPUnit\\Framework\\Assert\:\:assertInstanceOf\(\) with ''CSoellinger\\\\SilverStripe\\\\ModelAnnotations\\\\View\\\\DataClassTaskView'' and CSoellinger\\SilverStripe\\ModelAnnotations\\View\\DataClassTaskView will always evaluate to true\.$#'
		- '#^Call to static method PHPUnit\\Framework\\Assert\:\:assertInstanceOf\(\) with ''CSoellinger\\\\SilverStripe\\\\ModelAnnotations\\\\Task\\\\ModelAnnotationsTask'' and CSoellinger\\SilverStripe\\ModelAnnotations\\Task\\ModelAnnotationsTask will always evaluate to true\.$#'
		-
			message: '#^Static property CSoellinger\\SilverStripe\\ModelAnnotations\\Task\\ModelAnnotationsTask\:\:\$siteTreeFields is never read, only written\.$#'
			path: src/Task/ModelAnnotationsTask.php
		-
			message: '#^Static property CSoellinger\\SilverStripe\\ModelAnnotations\\Task\\ModelAnnotationsTask\:\:\$ignoreFields is never read, only written\.$#'
			path: src/Task/ModelAnnotationsTask.php
		-
			message: '#^Static property CSoellinger\\SilverStripe\\ModelAnnotations\\Task\\ModelAnnotationsTask\:\:\$createBackupFile is never read, only written\.$#'
			path: src/Task/ModelAnnotationsTask.php
		-
			message: '#^Static property CSoellinger\\SilverStripe\\ModelAnnotations\\Task\\ModelAnnotationsTask\:\:\$dryRun is never read, only written\.$#'
			path: src/Task/ModelAnnotationsTask.php
		-
			message: '#^Static property CSoellinger\\SilverStripe\\ModelAnnotations\\Task\\ModelAnnotationsTask\:\:\$quiet is never read, only written\.$#'
			path: src/Task/ModelAnnotationsTask.php
		-
			message: '#^Static property CSoellinger\\SilverStripe\\ModelAnnotations\\Task\\ModelAnnotationsTask\:\:\$addUseStatements is never read, only written\.$#'
			path: src/Task/ModelAnnotationsTask.php
		-
			message: '#^Static property CSoellinger\\SilverStripe\\ModelAnnotations\\Task\\ModelAnnotationsTask\:\:\$dependencies is never read, only written\.$#'
			path: src/Task/ModelAnnotationsTask.php
		-
			message: '#^Static property CSoellinger\\SilverStripe\\ModelAnnotations\\Task\\ModelAnnotationsTask\:\:\$segment is never read, only written\.$#'
			path: src/Task/ModelAnnotationsTask.php
		-
			message: '#^Static property CSoellinger\\SilverStripe\\ModelAnnotations\\Handler\\DataClassHandler\:\:\$dependencies is never read, only written\.$#'
			path: src/Handler/DataClassHandler.php
		-
			message: '#^Static property CSoellinger\\SilverStripe\\ModelAnnotations\\Test\\Unit\\Player\:\:\$db is never read, only written\.$#'
			path: tests/Unit/Player.php
		-
			message: '#^Static property CSoellinger\\SilverStripe\\ModelAnnotations\\Test\\Unit\\Player\:\:\$has_one is never read, only written\.$#'
			path: tests/Unit/Player.php
		-
			message: '#^Static property CSoellinger\\SilverStripe\\ModelAnnotations\\Test\\Unit\\Team\:\:\$db is never read, only written\.$#'
			path: tests/Unit/Team.php
		-
			message: '#^Static property CSoellinger\\SilverStripe\\ModelAnnotations\\Test\\Unit\\Team\:\:\$has_many is never read, only written\.$#'
			path: tests/Unit/Team.php
		-
			message: '#^Static property CSoellinger\\SilverStripe\\ModelAnnotations\\Test\\Unit\\Team\:\:\$many_many is never read, only written\.$#'
			path: tests/Unit/Team.php
		-
			message: '#^Static property CSoellinger\\SilverStripe\\ModelAnnotations\\Test\\Unit\\TeamSupporter\:\:\$db is never read, only written\.$#'
			path: tests/Unit/TeamSupporter.php
		-
			message: '#^Static property CSoellinger\\SilverStripe\\ModelAnnotations\\Test\\Unit\\TeamSupporter\:\:\$has_one is never read, only written\.$#'
			path: tests/Unit/TeamSupporter.php
		-
			message: '#^Static property CSoellinger\\SilverStripe\\ModelAnnotations\\Test\\Unit\\Supporter\:\:\$belongs_many_many is never read, only written\.$#'
			path: tests/Unit/Supporter.php
